* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container etiketi */
.container {
    width: 400px;
    border: 4px solid #9e9e9e;
    background-color: #fff;
}

/* input-text etiketi */
#input-text {
    width: 100%;
    padding: 8px;
    color: #fff;
    font-size: 36px;
    text-align: right;
    background-color: #000;
}

/* calculator etiketi */
#calculator {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#calculator > button {
    width: 75px;
    height: 75px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;
    background-color: wheat;
    transition: all 0.5s;
}

#calculator > button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.operator {
    color: #337cac;
}

.clear {
    background-color: #f0595f !important;
}

.result {
    height: 100% !important;
    grid-area: 2 / 4 / 6 / 5;
    background-color: #e77200 !important; 
}